ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-status-box {
  float: left;
  margin-right: 10px;
}

li {
  height: 55px;
  padding: 15px 10px;
  margin: 10px 0px;
  border-radius: 10px;
}

.btn-right {
  margin-top: -6px;
  float: right;
}